{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>KanGoh World!</title>
</head>
<body>
    <div class="main">
        <a href="/">메인 화면으로 돌아가기</a>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>